[access]
	inheritFrom = All-Projects
[project]
	description = Dynamic Rules (BRMS/Drools) Test
[access "refs/*"]
	owner = group user/Carsten Lichy-Bittendorf (lichyc)
[access "refs/for/refs/*"]
	read = group user/Carsten Lichy-Bittendorf (lichyc)
	push = group user/Carsten Lichy-Bittendorf (lichyc)
	label-Code-Review = -2..+2 group user/Carsten Lichy-Bittendorf (lichyc)
	label-Verified = -1..+1 group user/Carsten Lichy-Bittendorf (lichyc)
	rebase = group user/Carsten Lichy-Bittendorf (lichyc)
	removeReviewer = group user/Carsten Lichy-Bittendorf (lichyc)
	submit = group user/Carsten Lichy-Bittendorf (lichyc)
[access "refs/heads/*"]
	read = group user/Carsten Lichy-Bittendorf (lichyc)
	create = group user/Carsten Lichy-Bittendorf (lichyc)
	push = +force group user/Carsten Lichy-Bittendorf (lichyc)
	pushMerge = group user/Carsten Lichy-Bittendorf (lichyc)
[access "refs/tags/*"]
	push = group user/Carsten Lichy-Bittendorf (lichyc)
	push = +force group user/Carsten Lichy-Bittendorf (lichyc)
